@font-face {
	font-family: "f1";
	 src: url(../fonts/baltica.ttf);
}
@font-face {
	font-family: "f2"; 
	src: url(../fonts/bazhanovc.otf);

}
@font-face {
	font-family: "f3"; 
	src: url(../fonts/PlayfairDisplay-Regular.otf);
}