#head {
	height: 450px;
	background-image: url(../images/header.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
#head .col-md-8  {
	text-align: center;
}
#head .col-md-8 h1 {
	margin-top: 50px;
	color: #fff;
	font-family: "f1"
}
#head .col-md-12 {
	position: relative;
	top: 262px;
	background-color: rgba(0,0,0,0.5);
}
ul a {
	color: #fff;
	font-size: 1.5em;
	font-family: "f3";
}
li a:hover {
	color: #fff;
	background-color: rgba(0,0,0,0.5) !important;
}
#info {
	height: 450px;
	background-color: #fff;
	margin-top: 50px;
	font-family: "f2";
	font-size: 1.2em;

}
#main {
	height: 800px;
	background-color: #DFCFBA;
}
#main h3 {
	font-family: "f1";
}
#main p {
	font-family: "f2";
	font-size: 1.2em;
}
#main .newsimg   {
	margin-top: 90px;
}
#main .news  {
	margin-top: 50px;

}
#foot {
	height: 100px;
	background-color: #A08370;
	font-family: "f2";
	font-size: 1.2em;
}
#info a {
	border: 2px solid black;
	padding: 5px;
	color: black;
	text-decoration: none;
	margin-left: 35%;

}
#main a {
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 4px;
	padding-top: 4px;
	color: black;
	text-decoration: none;
	background-color: #342B29;
	color: #fff;	
	font-family: "f1";	
}